@import '../variables';

.about {
  .company {
    background: #F2F2F2;
    padding: 15px 64px;
    .thumbnail {
      width: 100%;
    }
    p {
      text-indent: 32px;
      display: block;
      font-size: 16px;
      line-height: 28px;
      .highlight {
        color: $mainColor;
        font-size: $font-size-large;
      }
    }
  }
  .honor {
    padding: 15px 64px;
    ul {
      list-style: none;
      li {
        float: left;
        width: 33%;
        label {
          margin-top: 5px;
          font-weight: normal;
          font-size: 18px;
          line-height: 26px;
        }
        img {
          width: 140px;
          height: 140px;
        }
      }
    }
    dl {
      dt {
        height: 48px;
        margin: 24px 0;
        border-bottom: 1px solid #cccccc;
        span {
          display: inline-block;
          width: 150px;
          height: 32px;
          line-height: 32px;
          padding-left: 12px;
          white-space: nowrap;
          color: #ffffff;

          &.sp-1 {
            background-color: #00CC66;
          }
          &.sp-2 {
            background-color: #2348ea;
          }
          &.sp-3 {
            background-color: #e05000;
          }
        }
      }
      dd {
        height: 32px;
        line-height: 32px;
        font-size: 16px;
        padding-left: 12px;
      }
    }
  }
}