<div class="row about">

    <div class="honor">
        <div class="col-xs-6">
            <img class="img-responsive" src="assets/images/i_3.jpg">
            <img class="img-responsive" src="assets/images/i_8.jpg">
        </div>
        <div class="col-xs-6">
            <dl>
                <dt><span class="sp-1">优秀软件构件</span></dt>
                <dd ng-repeat="x in list1" ng-bind="x"></dd>
                <dt><span class="sp-2">软件产品</span></dt>
                <dd ng-repeat="x in list2" ng-bind="x"></dd>
                <dt><span class="sp-3">著作权</span></dt>
                <dd ng-repeat="x in list3" ng-bind="x"></dd>
            </dl>
        </div>

    </div>
</div>