<div class="row">
    <div class="col-xs-12 table-wrapper">
        <div class="panel panel-table panel-primary">
            <div class="panel-heading">
                <form class="form-inline pull-right" role="form">
                    <input type="text" class="form-control" placeholder="请输入回答内容"
                           ng-model="grid.queryInfo.content">

                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="请输入回答人姓名" ng-model="grid.queryInfo.cnName">
                          <span class="input-group-btn">
                            <button class="btn btn-primary" ng-click="grid.query()"><i class="fa fa-fw fa-search"></i>
                            </button>
                          </span>
                    </div>
                </form>
            </div>
            <table simple-table="grid" class="table table-hover  table-striped">
                <thead>
                <tr>
                    <th style="width: 60px;">#</th>
                    <th>回答内容</th>
                    <th>回答人</th>
                    <th>回答时间</th>
                    <th style="width: 60px;">操作</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="x in grid.items">
                    <td record-no></td>
                    <td>{{x.content | limitTo:50}}</td>
                    <td>{{x.user.cnName}}</td>
                    <td>{{x.eventTime|date:'yyyy-MM-dd HH:mm'}}</td>
                    <td>
                        <button class="btn btn-xs btn-danger" ng-click="removeJob(x)">删除</button>
                    </td>
                </tr>
                </tbody>
            </table>
            <div pagination ng-model="grid.currentPage" total-items="grid.total" items-per-page="grid.pageSize"></div>
        </div>
    </div>
</div>
