<div class="row contact">
    <div class="col-lg-offset-1 col-lg-5 col-md-6">
        <form class="form-horizontal" name="commentForm">
            <div class="form-group">
                <div class="col-xs-6">
                    <input type="text" class="form-control" name="name" placeholder="姓名 Name" ng-model="comment.name">
                </div>
                <div class="col-xs-6">
                    <input type="text" class="form-control" name="phone" placeholder="电话 Telephone" ng-model="comment.phone">
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-6">
                    <input type="text" class="form-control" name="email" placeholder="邮件 E-Mail" ng-model="comment.email">
                </div>
                <div class="col-xs-6">
                    <input type="text" class="form-control" name="company" placeholder="公司 Company" ng-model="comment.company">
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-8">
                    <textarea rows="6" class="form-control" name="content" placeholder="留言 Content" ng-model="comment.content"></textarea>
                </div>
                <div class="col-xs-4">
                    <input type="text" class="form-control" name="captchaText" ng-model="captchaText" placeholder="验证码">
                    <img class="valid-code" ng-src="{{PageContext.path + '/captcha'}}" onclick="this.src=this.src">
                    <button ng-disabled="checkDisabled()" class="btn btn-primary btn-lg btn-block" type="button" ng-click="submit()">提交</button>
                </div>
            </div>
        </form>
    </div>
    <div class="col-lg-offset-1 col-lg-4 col-md-6">

        <div class="title">上海交大慧谷通用技术有限公司</div>

        <div class="address">
            <span>地址：上海市徐汇区番禺路951B号B楼</span>
            <span>电话：+86 021-51691155</span>
            <span>传真：+86 021-60901262</span>
            <span>邮编：200030</span>
        </div>

    </div>
</div>