@import '../variables';

.job {
  .job-region {
    background: #FFFFFF;
    ul {
      list-style: none;
      margin: 0;
      padding: 0 40px;
      height: 52px;
      li {
        float: left;
        margin: 10px 15px 10px 0;
        a {
          display: block;
          padding: 10px 30px;
          border: 1px solid #DDDDDD;
          text-decoration: none;
          cursor: pointer;
        }
        &:hover {
          a {
            border: 1px solid #80CFEC;
          }
        }
        &.active {
          a {
            background: #80CFEC;
            border: 1px solid #80CFEC;
            color: #FFFFFF;
          }
        }
      }
    }
  }
  .job-list {
    background: #F2F2F2;
    ul {
      width: 100%;
      margin: 0;
      padding: 0 40px;
      list-style: none;
      li {
        float: left;
        margin: 15px 15px 15px 0;
        background: #FFFFFF;
        list-style: none;
        a {
          cursor: pointer;
          display: block;
          width: 200px;
          height: 120px;
          text-decoration: none;
          font-size: 16px;
          padding: 15px 10px;
          i {
            border-radius: 48px;
            display: block;
            float: left;
            font-size: 48px;
          }
          span {
            margin: 5px 0 0 10px;
            width: 118px;
            text-overflow: ellipsis;
            overflow: hidden;
            display: block;
            float: left;
          }
          label {
            width: inherit;
            margin: 60px 0 0 10px;
            line-height: 30px;
            display: block;
            cursor: pointer;
          }
        }

        &:hover {
          box-shadow: 0 0 5px #80CFEC;
        }

        &.lc-sh {
          i {
            color: #1D9E74;
          }
        }
        &.lc-gz {
          i {
            color: #FFCC99;
          }
        }
        &.lc-bj {
          i {
            color: #33CCFF;
          }
        }
        &.lc-cq {
          i {
            color: #FF6699;
          }
        }
        &.lc-sx {
          i {
            color: #FF9933;
          }
        }
        &.lc-gs {
          i {
            color: #99CC99;
          }
        }
        &.lc-gd {
          i {
            color: #CC3300;
          }
        }
      }
    }
  }

}

.job-modal {
  padding: 0;
  margin: 0;
  cursor: default;
  .modal-close {
    position: absolute;
    right: 8px;
    top: 8px;
    cursor: pointer;
    color: #666666;
    font-size: 18px;
  }
  .job-modal-left {
    float: left;
    width: 300px;
    background: #80CFEC;
    h3 {
      font-size: 24px;
      line-height: 36px;
      color: #ffffff;
      margin: 0;
      padding: 20px 0 0 20px;
    }
    ul {
      list-style: none;
      margin: 180px 0 20px 0;
      padding: 0 20px 0 20px;
      li {
        color: #FFFFFF;
        font-size: 18px;
        line-height: 32px;
      }
    }
    a {
      display: block;
      height: 80px;
      width: 300px;
      background: #C97181;
      color: #FFFFFF;
      font-size: 20px;
      line-height: 80px;
      text-decoration: none;
      text-align: center;
    }
  }
  .job-modal-right {
    height: 496px;
    margin-left: 300px;
    background: #FFFFFF;
    color: #69768e;
    h3 {
      font-size: 24px;
      line-height: 36px;
      color: #80CFEC;
      margin: 0;
      padding: 20px 0 0 20px;
      & .fa {
        color: #FBB168;
      }
    }
    p {
      position: relative;
      margin: 5px 5px 5px 10px;
      height: 430px;
      padding: 0;
      line-height: 24px;
      font-size: 16px;
      white-space: pre-wrap;
      overflow: scroll;
    }
  }

}