<div class="row job">
    <div class="col-xs-12">
        <div class="job-region">
            <ul>
                <li ng-class="{active: 'all'==currentRegionId}">
                    <a ng-click="selectRegion('all')">全部地区</a>
                </li>
                <li ng-class="{active: x.id==currentRegionId}" ng-repeat="x in regionList">
                    <a ng-click="selectRegion(x.id)" ng-bind="x.name"></a>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-xs-12 job-list">
        <ul>
            <li class="{{'lc-' + (x.region.code||x.region.parent.code)}}" ng-repeat="x in jobList | jobRegionFilter:currentRegionId">
                <a href="javascript:;" ng-click="showJob(x)">
                    <i class="fa fa-users"></i>
                    <span ng-bind="x.position.name"></span>
                    <label ng-bind="x.region|regionText"></label>
                </a>
            </li>
        </ul>
    </div>
</div>