@import '../variables';

.culture {

  section {
    position: relative;
    margin: 0 -15px;
    img {
      width: 100%;
    }
  }

  .im_wrapper{
    right: -20px;
    top: -20px;
    width: 800px;
    height: 440px;
    position: absolute;
  }

  .im_wrapper div{
    left:-500px;
    width:175px;
    height:125px;
    position:absolute;
    background-repeat:no-repeat;
    background-color:#fff;
    cursor:pointer;
    -moz-box-shadow:1px 1px 3px #000;
    -webkit-box-shadow:1px 1px 3px #000;
    box-shadow:1px 1px 3px #000;
  }
  .im_wrapper div img{
    float:left;
    width:165px;
    height:115px;
    margin:5px 0px 0px 5px;
  }
}

.culture-detail {
  padding: 10px 0;
  .title {
    margin: 10px 0;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
  }
  .hr {
    border-bottom: 1px solid #DDDDDD;
  }
  .content {
    padding: 0 30px;
    margin: 10px 0;
    font-size: 16px;
  }
}
