<div class="row">
    <div class="col-xs-12 table-wrapper">
        <div class="panel panel-table panel-primary">
            <div class="panel-heading">
                <button class="btn btn-primary" ng-click="batchUploadBook()"><i class="fa fa-fw fa-book"></i> 批量导入书籍</button>
                <button class="btn btn-primary" ng-click="createBook()"><i class="fa fa-fw fa-plus"></i> 新增</button>
                <form class="form-inline pull-right" role="form">

                    <input type="text" class="form-control" placeholder="请输入书名" ng-model="grid.queryInfo.name">
                    <input type="text" class="form-control" placeholder="请输入作者" ng-model="grid.queryInfo.author">
                    <div class="input-group" >

                        <input date-picker
                               format="YYYY-MM-DD HH:mm"
                               ng-model="grid.queryInfo.beginDate"
                               placeholder="请输入起始日期">
                    </div>

                    <div class="input-group" >

                        <input date-picker
                               format="YYYY-MM-DD HH:mm"
                               ng-model="grid.queryInfo.endDate"
                               placeholder="请输入结束日期">
                    </div>
                    <div class="input-group">
                        <input tree-picker="Region" show-clear="false" placeholder="请选择菜单"
                               ng-model="grid.queryInfo.menuId">

                          <span class="input-group-btn">
                            <button class="btn btn-primary" ng-click="grid.query()"><i class="fa fa-fw fa-search"></i>
                            </button>
                          </span>
                    </div>



                </form>
            </div>
            <table simple-table="grid" class="table table-hover  table-striped">
                <thead>
                <tr>
                    <th style="width: 60px;">#</th>
                    <th>书名</th>
                    <th>作者</th>
                    <th>所属菜单</th>
                    <th>电子书</th>
                    <th>序号</th>
                    <th>上传日期</th>
                    <th style="min-width: 120px;">操作</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="x in grid.items">
                    <td record-no></td>
                    <td>{{x.name}}</td>
                    <td>{{x.author}}</td>
                    <td>{{x.menu.name}}</td>
                    <td>{{x.ebookFilename}}</td>
                    <td>{{x.orderNo}}</td>
                    <td>{{x.eventTime | $date: 'YYYY-MM-DD HH:mm'}}</td>
                    <td>
                        <button class="btn btn-xs btn-primary" ng-click="updateBook(x)">编辑</button>
                        <button class="btn btn-xs btn-danger" ng-click="removeBook(x)">删除</button>
                    </td>
                </tr>
                </tbody>
            </table>
            <div pagination ng-model="grid.currentPage" total-items="grid.total" items-per-page="grid.pageSize"></div>
        </div>
    </div>
</div>
