<div class="btn-group">
    <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown"><i class="fa fa-fw fa-list"></i></button>
    <ul class="dropdown-menu dropdown-menu-custom dropdown-menu-right dropdown-menu-xs no-padding" role="menu">
        <li class="col-sm-6">
            <ul>
                <li><a><i class="glyphicon glyphicon-sort-by-attributes"></i> 排序</a></li>
                <li><a><i class="glyphicon glyphicon-list"></i> 字段</a></li>
                <li><a><i class="glyphicon glyphicon-th-large"></i> 记录</a></li>
            </ul>
        </li>
        <li class="col-sm-6">
            <ul>
                <li><a><i class="glyphicon glyphicon-import"></i> 导入</a></li>
                <li><a><i class="glyphicon glyphicon-export"></i> 导出</a></li>
                <li><a><i class="glyphicon glyphicon-print"></i> 打印</a></li>
            </ul>
        </li>
    </ul>
</div>