<div class="row">
    <div class="col-xs-12 table-wrapper">
        <div class="panel panel-table panel-primary">
            <div class="panel-heading">
                <button class="btn btn-primary" ng-click="createNews()"><i class="fa fa-fw fa-plus"></i> 新增</button>
                <form class="form-inline pull-right" role="form">
                    <input type="text" class="form-control" placeholder="请输入新闻标题" ng-model="grid.queryInfo.title">

                    <div class="input-group" >

                        <input date-picker
                               format="YYYY-MM-DD HH:mm"
                               ng-model="grid.queryInfo.beginDate"
                               placeholder="请输入起始日期">
                    </div>

                    <div class="input-group" >

                        <input date-picker
                               format="YYYY-MM-DD HH:mm"
                               ng-model="grid.queryInfo.endDate"
                               placeholder="请输入结束日期">
                    </div>
                    <div class="input-group">

                        <input group-select="Department" ng-model="grid.queryInfo.department"  placeholder="请选择部门">
                    </div>
                    <div class="input-group">
                        <input tree-picker="Region" show-clear="false" placeholder="请选择菜单"
                               ng-model="grid.queryInfo.menuId">

                          <span class="input-group-btn">
                            <button class="btn btn-primary" ng-click="grid.query()"><i class="fa fa-fw fa-search"></i></button>
                          </span>
                    </div>

                </form>
            </div>
            <table simple-table="grid" class="table table-hover  table-striped">
                <thead>
                <tr>
                    <th style="width: 60px;">#</th>
                    <th>新闻标题</th>
                    <th>所属菜单</th>
                    <th>发布部门</th>
                    <th style="width: 160px;">发布时间</th>
                    <th style="width: 120px;">操作</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="x in grid.items">
                    <td record-no></td>
                    <td>{{x.title}}</td>
                    <th>{{x.menu.name}}</th>
                    <th>{{x.department.name}}</th>
                    <td>{{x.postTime|date:'yyyy-MM-dd HH:mm'}}</td>
                    <td>
                        <button class="btn btn-xs btn-success" ng-click="topOrUnTop(x)">{{x.top === 0?"置顶新闻":"取消置顶"}}</button>
                        <button class="btn btn-xs btn-primary" ng-click="updateNews(x)">编辑</button>
                        <button class="btn btn-xs btn-danger" ng-click="removeNews(x)">删除</button>
                    </td>
                </tr>
                </tbody>
            </table>
            <div pagination ng-model="grid.currentPage" total-items="grid.total" items-per-page="grid.pageSize"></div>
        </div>
    </div>
</div>
