$font-family-sans-serif: "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$font-size-base: 14px;
$font-size-large: ceil(($font-size-base * 1.5));
$font-size-small: ceil(($font-size-base * 0.75));

$link-color: #555454;
$text-color: #555454;

$mainColor: #0071C5;

$border-radius-base: 0px;
$border-radius-large: 0px;
$border-radius-small: 0px;

$grid-gutter-width: 30px;

$screen-lg: 1280px;
$screen-md: 1024px;
$screen-sm: 768px;
$screen-xs: 480px;

$container-lg: 1254px;
$container-md: 1000px;
