<div class="row news">
    <div class="col-lg-9 col-md-8">
        <article ng-repeat="x in newsList">
            <img ng-src="{{PageContext.path + (x.picture||'/assets/images/empty.jpg')}}">
            <div>
                <header>
                    <h4 ng-bind="x.title"></h4>
                </header>
                <section ng-bind="x.summary">
                </section>
                <footer>
                    <time>{{x.eventTime|date}}</time>
                    <a target="_blank" ui-sref="news.detail({id: x.id})">查看详情>></a>
                </footer>
            </div>
        </article>
        <div class="pagination" ng-show="showPagination">
            <a class="previous" ng-show="showPrevious" ui-sref="news({pageNo: pageNo-1})"><i class="fa fa-caret-left"></i> 上一页</a>
            <a class="next" ng-show="showNext" ui-sref="news({pageNo: pageNo+1})">下一页 <i class="fa fa-caret-right"></i></a>
            <span ng-bind="paginationText"></span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4">
        <div class="hot-news">
            <div class="title">热点动态</div>
            <div class="sub-title">Hot News</div>
            <ul ng-init="news=[]">
                <li ng-repeat="x in news">
                    <div>
                        <a></a>
                    </div>
                    <small></small>
                </li>
            </ul>
        </div>
    </div>
</div>