<div>
    <div class="box-1">
        <ul>
            <li ng-class="{active: state.params.id==x.id}" ng-repeat="x in products | productClassification:product.productClassification">
                <a ui-sref="product.detail({id: x.id})"><i class="{{x.icon}}"></i><label ng-bind="x.shortName"></label></a>
            </li>
        </ul>
    </div>
    <div class="box-2">

        <section>
            <h3 ng-bind="product.productName"></h3>
        </section>

        <section ng-if="product.description">
            <h4>产品概述</h4>
            <pre ng-bind="product.description"></pre>
        </section>

        <section ng-if="product.function">
            <h4>产品功能</h4>
            <pre ng-bind="product.function"></pre>
        </section>

        <section ng-if="product.feature">
            <h4>产品特点</h4>
            <pre ng-bind="product.feature"></pre>
        </section>

        <section ng-if="product.documentation">
            <h4>典型案例</h4>
            <pre ng-bind="product.documentation"></pre>
        </section>
    </div>
</div>